body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

body .btn-primary, body .btn-primary:hover, body .btn-primary:active, body .btn-primary:visited {
  background-color: #246591 !important;
  border: none;
  font-weight: 500;
}

body .navbar {
  background-color: #152F4F;
}

body .navbar .container-fluid {
  margin-left: 10px;
  margin-right: 10px;
}

body .navbar .container-fluid ul li .btn-dark {
  background-color: #152F4F;
  border: none;
}

body .navbar .container-fluid ul li ul {
  border: none;
  background-color: #152F4F;
  text-align: start;
}

body .navbar .container-fluid ul li ul li {
  background-color: #152F4F;
}

body .navbar .container-fluid ul li ul li ul {
  text-align: center;
  background-color: #246591;
}

body .navbar .container-fluid ul li ul li ul li {
  background-color: #246591;
  margin-top: 5px;
  margin-bottom: 5px;
}

body .navbar .container-fluid ul li ul li a {
  text-decoration: none;
  color: #F3EFF5;
}

body .navbar .container-fluid ul li ul li p {
  text-align: end;
}

body .navbar img {
  height: 50px;
}

@media (min-width: 992px) {
  body .navbar {
    height: 108px;
  }
  body .navbar .container-fluid {
    margin-left: 157px;
    margin-right: 157px;
  }
  body .navbar .container-fluid ul li .btn-dark {
    background-color: #246591;
    border: none;
  }
  body .navbar .container-fluid ul li a {
    font-size: 22px;
  }
  body .navbar .container-fluid ul li ul {
    background-color: #246591;
    text-align: center;
  }
  body .navbar .container-fluid ul li ul li {
    background-color: #246591;
    margin-top: 5px;
  }
  body .navbar .container-fluid ul li ul li p {
    font-size: 18px;
  }
  body .navbar .container-fluid ul li ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #F3EFF5;
  }
  body .navbar img {
    height: 4vw;
    min-height: 3.5vw;
  }
}

body .parallax {
  min-height: 825px;
  background-image: url("../images/fondo.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .parallax .container-fluid {
  background-color: #F3EFF5;
  border: solid 10px #152F4F;
  border-radius: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 5px;
  margin-right: 5px;
}

body .parallax .container-fluid .title {
  color: #07295F;
  text-align: center;
}

body .parallax .container-fluid .title h1 {
  margin-top: 20px;
}

@media (min-width: 992px) {
  body .parallax .container-fluid {
    width: 1605px;
    min-height: 800px;
    border: solid 20px #152F4F;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  body .parallax .container-fluid .title h1 {
    margin-top: 0px;
  }
  body .parallax .container-fluid .title p {
    font-size: 25px;
  }
}

body .parallax .container-fluid .container {
  border: #152F4F solid 1px;
  border-radius: 5px;
}

body .parallax .container-fluid .container .nav-pills .nav-link.active {
  background-color: #246591;
  color: #F3EFF5;
}

body .parallax .container-fluid .container .nav-link {
  color: #246591;
}

body .parallax .container-fluid .container ul {
  border-bottom: solid 1px #07295F;
  border-radius: 3px;
}

body .parallax .container-fluid .container .tab-content .tab-pane {
  height: 420px;
}

body .parallax .container-fluid .container .tab-content .tab-pane a, body .parallax .container-fluid .container .tab-content .tab-pane p {
  font-size: 18px;
  color: #07295F;
  text-decoration: none;
  -webkit-transition: color .2s;
  transition: color .2s;
}

body .parallax .container-fluid .container .tab-content .tab-pane a:hover, body .parallax .container-fluid .container .tab-content .tab-pane p:hover {
  text-decoration: none;
  color: #4180CB;
}

body .parallax .container-fluid .container .tab-content .tab-pane p {
  text-align: center;
}

body .parallax .container-fluid .container .tab-content .tab-pane #myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  background-color: #F3EFF5;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

body .parallax .container-fluid .container .tab-content .tab-pane #myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  border-bottom: none;
}

body .parallax .container-fluid .container .tab-content .tab-pane #myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  margin-left: 0px;
  background-color: #F3EFF5;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

body .parallax .container-fluid .container .tab-content .tab-pane #myUL li a:hover:not(.header) {
  background-color: #F3EFF5;
}

@media (min-width: 992px) {
  body .parallax .container-fluid .container .tab-content .tab-pane {
    height: 440px;
  }
  body .parallax .container-fluid .container .tab-content .tab-pane a, body .parallax .container-fluid .container .tab-content .tab-pane p {
    margin-left: 80px;
  }
  body .parallax .container-fluid .container .tab-content .tab-pane p {
    text-align: start;
  }
}

@media (min-width: 992px) {
  body .parallax {
    min-height: 900px;
  }
}

body .footer {
  background: #152F4F;
  color: #F3EFF5;
}

body .footer .colab {
  color: #F3EFF5;
}

body .footer .colab .card {
  background-color: #246591;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

@media (min-width: 992px) {
  body .footer .colab .card {
    margin-left: 0;
    width: 80%;
    height: 300px;
  }
  body .footer .colab .card .card-img-top {
    height: 162px;
  }
}

body .footer .follow a img {
  height: 60px;
  margin: 10px;
}

@media (min-width: 992px) {
  body .footer .follow {
    text-align: end;
  }
  body .footer .follow a img {
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0px;
  }
}

body .footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media (min-width: 992px) {
  body .footer {
    padding-left: 157px;
    padding-right: 157px;
  }
}
/*# sourceMappingURL=style.css.map */