body{

  .parallax {
    background-image: url("../images/fondo.jpg");
  
    min-height: 1050px;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  font-family: 'Montserrat', sans-serif;

  .contenedor{
    background-color: white;
    min-height: 800px;
    border: solid 20px #648ec0;
    border-radius: 100px;
  }

  .unidades-top{
    border-bottom: solid 1px #152F4F;
    border-radius: 3px;
  }

  .unidades-bot{
    
  }

  .navstyle{
      background-color: rgb(22, 47, 81);
  }
  .titulo{
      align-items: center;
      text-align: center;
  
  }

  .linksclase{
      margin-left: 80px;
      color: black;
      text-decoration: none;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
  }

  .pillstab{
    min-height: 500px;
  }

  .footer{
      background: #152F4F;
      color:white;
  
      .fotologos{
          height: 60px;
      }
      .textocolab{
          color: white;
          text-align: center;
      }
      .cardstyle{
          background-color: rgb(52, 77, 111);
          
      }
      .links{
        font-family: 'Montserrat', sans-serif;
        ul {list-style-type: none;}
        li a{
          color: white;
          transition: color .2s;
          &:hover{
            text-decoration:none;
            color:#4180CB;
            }
        }
        .logos{
            height: 50px;
            margin: 10px;
        }
      }  
      .about-company{
        i{font-size: 25px;}
        a{
          color:white;
          transition: color .2s;
          &:hover{color:#4180CB}
        }
      } 
      .location{
        i{font-size: 18px;}
      }
      .copyright p{border-top:1px solid rgba(255,255,255,.1);}    
  }
}


