body{

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  
  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #246591 !important;
    border: none;
    font-weight: 500;
    //#344d6f #446daa #275d93 #246591
  }

  .logonavar{
    offset-position: 15px;
    max-height: 4vw;
    min-height: 2vw;
  }

  .navend{
    margin-right: 143px;
    .unidadestitulo{
      font-size: 1vw;
    }
    .dropdown-menu-dark{
      background-color: #246591;
    }
    .btn-dark{
      color: white;
      background-color: #246591;
      border: none;
    }
  }

  .parallax {
    background-image: url("../images/fondo.png");

    min-height: 980px;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .contenedor{
    background-color: white;
    min-height: 800px;
    border: solid 20px  #152F4F;
    border-radius: 100px;
  }

  .unidades-top{
    border-bottom: solid 1px #152F4F;
    border-radius: 3px;
  }
  .nav-pills .nav-link.active {
    background-color: #246591;
  }
  .nav-link{
    color: #246591;
  }
  .contenedoresunidades{
    height: 450px;
  }

  .navstyle{
      background-color: rgb(22, 47, 81);
  }
  .titulo{
      color: rgb(22, 47, 81);
      align-items: center;
      text-align: center;
  
  }

  #myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 5px;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }

  .linksclase{
      margin-left: 80px;
      color: #152F4F;
      text-decoration: none;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
  }

  .pillstab{
    min-height: 500px;
  }
  

  .footer{
      background: #152F4F;
      color:white;
  
      .fotologos{
          height: 60px;
      }
      .textocolab{
          color: white;
          text-align: center;
      }
      .cardstyle{
          background-color: #246591;
          //rgb(52, 77, 111)
      }
      .links{
        font-family: 'Montserrat', sans-serif;
        ul {list-style-type: none;}
        li a{
          color: white;
          transition: color .2s;
          &:hover{
            text-decoration:none;
            color:#4180CB;
            }
        }
        .logos{
            height: 30px;
            margin: 10px;
        }
      }   
      .copyright p{border-top:1px solid rgba(255,255,255,.1);}
      .siguenos{
        padding-left: 22px;
      }
      .colab{
        padding-left: 28px;
      }    
  }
}


