body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

body .btn-primary, body .btn-primary:hover, body .btn-primary:active, body .btn-primary:visited {
  background-color: #246591 !important;
  border: none;
  font-weight: 500;
}

body .logonavar {
  offset-position: 15px;
  max-height: 4vw;
  min-height: 2vw;
}

body .navend {
  margin-right: 143px;
}

body .navend .unidadestitulo {
  font-size: 1vw;
}

body .navend .dropdown-menu-dark {
  background-color: #246591;
}

body .navend .btn-dark {
  color: white;
  background-color: #246591;
  border: none;
}

body .parallax {
  background-image: url("../images/fondo.png");
  min-height: 980px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .contenedor {
  background-color: white;
  min-height: 800px;
  border: solid 20px  #152F4F;
  border-radius: 100px;
}

body .unidades-top {
  border-bottom: solid 1px #152F4F;
  border-radius: 3px;
}

body .nav-pills .nav-link.active {
  background-color: #246591;
}

body .nav-link {
  color: #246591;
}

body .contenedoresunidades {
  height: 450px;
}

body .navstyle {
  background-color: #162f51;
}

body .titulo {
  color: #162f51;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body .linkslecciones {
  background-color: #246591;
}

body .linkslecciones li {
  text-align: center;
  padding-bottom: 10px;
}

body .linkslecciones li a {
  text-decoration: none;
  color: white;
}

body #myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

body #myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 5px;
}

body #myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

body #myUL li a:hover:not(.header) {
  background-color: #eee;
}

body .linksclase {
  margin-left: 80px;
  color: #152F4F;
  text-decoration: none;
  -webkit-transition: color .2s;
  transition: color .2s;
}

body .linksclase:hover {
  text-decoration: none;
  color: #4180CB;
}

body .pillstab {
  min-height: 500px;
}

body .footer {
  background: #152F4F;
  color: white;
}

body .footer .fotologos {
  height: 60px;
}

body .footer .textocolab {
  color: white;
  text-align: center;
}

body .footer .cardstyle {
  background-color: #246591;
}

body .footer .links {
  font-family: 'Montserrat', sans-serif;
}

body .footer .links ul {
  list-style-type: none;
}

body .footer .links li a {
  color: white;
  -webkit-transition: color .2s;
  transition: color .2s;
}

body .footer .links li a:hover {
  text-decoration: none;
  color: #4180CB;
}

body .footer .links .logos {
  height: 30px;
  margin: 10px;
}

body .footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

body .footer .siguenos {
  padding-left: 22px;
}

body .footer .colab {
  padding-left: 28px;
}
/*# sourceMappingURL=style.css.map */