body {
  background-color: #F3EFF5;
  font-family: 'Raleway', sans-serif;
}

body .nav img {
  height: 70px;
}

@media (min-width: 992px) {
  body .nav {
    font-size: 18px;
    padding-left: 265px;
    padding-right: 265px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  body .nav .nav-link {
    padding-left: 5px !important;
    padding-right: 22px !important;
  }
  body .nav img {
    height: 3.5vw;
  }
}

body .parallax {
  background-image: url("../images/fondomakeit-corto.png");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .content {
  background-color: #F3EFF5;
}

body .content .container {
  text-align: center;
}

body .content .container h1 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: bolder;
  font-size: 50px;
}

body .content .cards {
  background-color: #07295F;
}

body .content .cards .container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content .cards .container .row .col {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

body .content .cards .container .row .col .antsig {
  display: none;
}

@media (min-width: 992px) {
  body .content .cards .container .row .col .antsig {
    display: inline;
  }
}

body .content .cards .container .row .col .card .card-img-top {
  height: 286px;
}

body .content .cards .container .row .col .card .card-body {
  background-color: #F3EFF5;
}

body .content .cards .container .row .col .card h5 {
  font-weight: bold;
}

body .content .cards .container .row .col .card p {
  height: 192px;
}

body .content .cards .container .row .col .card .btn-primary {
  background-color: #1D84B5;
  border-color: #53A2BE;
}

body .content .cards .container .row .col .buttons {
  height: 100px;
}

body .categories {
  height: 400px;
  width: 100%;
  text-align: center;
  /* Position text in the middle of the page/image */
}

body .categories h2 {
  font-weight: bold;
  color: #07295F;
}

body .categories .btn-primary {
  background-color: #1D84B5;
  border-color: #53A2BE;
}

body .categories .makeit {
  /* The image used */
  background-image: url("../images/bannermakeit.jpg");
  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(2px);
  /* Full height */
  height: 400px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .categories .innovacion {
  /* The image used */
  background-image: url("https://picsum.photos/id/534/1902/400?blur=2");
  /* Full height */
  height: 400px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .categories .desarrollo {
  /* The image used */
  background-image: url("https://picsum.photos/id/36/1902/400?blur=2");
  /* Full height */
  height: 400px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .categories .makeit-text {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/opacity/see-through */
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 70%;
  padding: 20px;
  text-align: center;
  -webkit-transform: translate(-50%, 1970%);
          transform: translate(-50%, 1970%);
}

body .categories .makeit-text h2 {
  color: #F67451;
}

@media (min-width: 992px) {
  body .categories .makeit-text {
    -webkit-transform: translate(-50%, 850%);
            transform: translate(-50%, 850%);
  }
}

body .categories .innova-text {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 70%;
  padding: 20px;
  text-align: center;
  -webkit-transform: translate(-50%, 2245%);
          transform: translate(-50%, 2245%);
}

body .categories .innova-text h2 {
  color: #F67451;
}

@media (min-width: 992px) {
  body .categories .innova-text {
    -webkit-transform: translate(-50%, 1170%);
            transform: translate(-50%, 1170%);
  }
}

body .categories .des-text {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 70%;
  padding: 20px;
  text-align: center;
  -webkit-transform: translate(-50%, 2515%);
          transform: translate(-50%, 2515%);
}

body .categories .des-text h2 {
  color: #F67451;
}

@media (min-width: 992px) {
  body .categories .des-text {
    -webkit-transform: translate(-50%, 1490%);
            transform: translate(-50%, 1490%);
  }
}

body .categories .separador {
  height: 8px;
  background-color: #07295F;
}

body .makeit .fotoseccion {
  background-image: url("../images/bannermakeit.jpg");
  background-repeat: no-repeat;
  background-position: right top;
}

body .makeit .fotoseccion h1 {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/opacity/see-through */
  color: #F67451;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  -webkit-transform: translate(13%, 0%);
          transform: translate(13%, 0%);
  z-index: 2;
  width: 71%;
  padding: 20px;
  text-align: center;
}

@media (min-width: 992px) {
  body .makeit .fotoseccion h1 {
    -webkit-transform: translate(20%, 100%);
            transform: translate(20%, 100%);
  }
}

@media (min-width: 992px) {
  body .makeit .fotoseccion {
    height: 400px;
    background-image: url("../images/makeit/3.jpg");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

body .makeit .separador {
  color: #F3EFF5;
  background-color: #07295F;
  font-size: larger;
  font-style: italic;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 992px) {
  body .makeit .separador {
    padding-left: 250px;
    padding-right: 250px;
  }
}

body .makeit .container {
  border-radius: 15px;
}

body .makeit .container p {
  color: #07295F;
}

body .makeit .container .titulo {
  font-weight: 600;
}

body .makeit .container .lineaseparadora {
  background-color: #F67451;
  height: 2px;
  border-radius: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}

body .makeit .container .row .btn-primary {
  background-color: #1D84B5;
  border-color: #53A2BE;
  margin-left: 15px;
}

@media (min-width: 992px) {
  body .makeit .container .row .btn-primary {
    margin-left: 50px;
    margin-top: 5px;
  }
}

body .makeit .container .participantes {
  color: #F3EFF5;
  background-color: #eb876c;
  text-align: center;
}

body .makeit .container .participantes p {
  color: black;
  margin-bottom: 0px;
}

body .makeit .container .participantes h4 {
  font-weight: 700;
}

body .makeit .container .participantes .nombre {
  font-weight: 500;
}

body .makeit .imagenes {
  text-align: center;
}

body .makeit .imagenes img {
  height: 300px;
  border: solid 3px #53A2BE;
  border-radius: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  body .makeit .imagenes {
    text-align: center;
  }
  body .makeit .imagenes img {
    height: 340px;
    border: solid 5px #53A2BE;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

body .makeit .texto p {
  padding-left: 15px;
  padding-right: 15px;
  color: black !important;
}

body .makeit .texto h1 {
  text-align: left;
  color: #07295F;
  padding-top: 0px;
  padding-bottom: 0px;
}

body .makeit .texto h2 {
  color: #F67451;
}

body .makeit .texto .numero {
  color: #F67451 !important;
  font-size: 30px;
}

body .makeit .texto .numerosp {
  color: #F67451 !important;
  font-size: 30px;
}

body .makeit .texto .textoarriba {
  padding-top: 45px;
}

@media (min-width: 992px) {
  body .makeit .texto p {
    padding-left: 50px;
    padding-right: 40px;
    font-size: larger;
    color: black !important;
  }
  body .makeit .texto h1 {
    text-align: left;
    color: #07295F;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  body .makeit .texto h2 {
    color: #F67451;
  }
  body .makeit .texto .numero {
    color: #F67451 !important;
    font-size: 50px;
    text-align: end;
    padding-right: 20px;
    border-radius: 3px;
  }
  body .makeit .texto .numerosp {
    color: #F67451 !important;
    font-size: 50px;
  }
  body .makeit .texto .col-10 {
    padding-left: 30px;
  }
}

body .proyectos .fotoseccioninno {
  /* Position text in the middle of the page/image */
}

body .proyectos .fotoseccioninno .bg-image {
  /* The image used */
  background-image: url("https://picsum.photos/id/534/950/400?blur=1");
  /* Add the blur effect */
  filter: blur(1px);
  -webkit-filter: blur(1px);
  /* Full height */
  height: 200px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 992px) {
  body .proyectos .fotoseccioninno .bg-image {
    height: 400px;
  }
}

body .proyectos .fotoseccioninno .bg-text {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/opacity/see-through */
  color: #F67451;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  padding: 20px;
  text-align: center;
}

@media (min-width: 992px) {
  body .proyectos .fotoseccioninno .bg-text {
    width: 72%;
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2;
  }
}

body .proyectos .portadaproyectos {
  height: 340px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 992px) {
  body .proyectos .portadaproyectos {
    width: 370px;
  }
}

body .proyectos .fotosecciondes {
  /* Position text in the middle of the page/image */
}

body .proyectos .fotosecciondes .bg-image {
  /* The image used */
  background-image: url("https://picsum.photos/id/36/950/400?blur=1");
  /* Add the blur effect */
  filter: blur(1px);
  -webkit-filter: blur(1px);
  /* Full height */
  height: 200px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 992px) {
  body .proyectos .fotosecciondes .bg-image {
    height: 400px;
  }
}

body .proyectos .fotosecciondes .bg-text {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/opacity/see-through */
  color: #F67451;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  padding: 20px;
  text-align: center;
}

@media (min-width: 992px) {
  body .proyectos .fotosecciondes .bg-text {
    width: 72%;
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2;
  }
}

body .proyectos img {
  width: 370px;
}

body .moldeproyectos {
  text-align: center;
}

body .moldeproyectos .nombreproyecto {
  color: #07295F;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  body .moldeproyectos .nombreproyecto {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

body .moldeproyectos img {
  height: 300px;
  border: solid 3px #53A2BE;
  border-radius: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  body .moldeproyectos {
    text-align: center;
  }
  body .moldeproyectos img {
    height: 350px;
    width: 385px;
    border: solid 5px #53A2BE;
    border-radius: 30px;
  }
}

body .moldeproyectos .row h2 {
  font-size: 40px;
  font-weight: 700;
}

body .moldeproyectos .row h4 {
  color: #F67451;
}

body .moldeproyectos .row h5 {
  text-align: start;
  font-size: 18px;
}

body .moldeproyectos .row ol {
  text-align: start;
}

body .moldeproyectos .row ol li {
  padding-top: 5px;
  padding-bottom: 5px;
}

body .moldeproyectos .row p {
  text-align: start;
}

body .moldeproyectos .row p .fase {
  font-weight: bold;
}

body .moldeproyectos .row .under {
  text-align: center;
  border-radius: 10px;
}

body .moldeproyectos .row .final {
  width: 320px;
}

@media (min-width: 992px) {
  body .moldeproyectos .row .final {
    height: 250px;
    width: 250px;
  }
}

body .moldeproyectos .participantes {
  color: #F3EFF5;
  background-color: #eb876c;
  text-align: center;
  border-radius: 15px;
}

body .moldeproyectos .participantes p {
  color: black;
  margin-bottom: 0px;
}

body .moldeproyectos .participantes h4 {
  font-weight: 700;
}

body .moldeproyectos .participantes .nombre {
  font-weight: 500;
}

body .footer {
  text-align: center;
  background: #07295F;
  color: #F3EFF5;
  padding-top: 60px;
}

body .footer h2 {
  font-weight: bold;
}

body .footer .links h4 {
  font-weight: bold;
}

body .footer .links ul {
  list-style-type: none;
}

body .footer .links li a {
  color: #F3EFF5;
  -webkit-transition: color .2s;
  transition: color .2s;
}

body .footer .links li a:hover {
  text-decoration: none;
  color: #1D84B5;
}

body .footer .links .logosredes {
  height: 50px;
  padding-right: 10px;
  padding-top: 10px;
}

body .footer .logos img {
  height: 60px;
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  body .footer .logos img {
    height: 3.5vw;
  }
}

body .footer .about-company i {
  font-size: 25px;
}

body .footer .about-company a {
  color: #F3EFF5;
  -webkit-transition: color .2s;
  transition: color .2s;
}

body .footer .about-company a:hover {
  color: #1D84B5;
}

body .footer .location i {
  font-size: 18px;
}

body .footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/*# sourceMappingURL=style.css.map */