///paleta de colores Royal Blue Dark #07295F, Blue NCS #1D84B5, Maximum Blue #53A2BE, Outrageous Orange #F67451, Ghost White #F3EFF5
$primary-blue: #07295F;
$secondary-blue: #1D84B5;
$border-blue: #53A2BE;
$contrast-orange: #F67451;
$secondary-contrast-orange: #eb876c;
$background-white: #F3EFF5;

body{
    background-color: $background-white;
    font-family: 'Raleway', sans-serif;
    .nav{
        img{
            height: 70px;
        }
        @media (min-width: 992px) { 
            font-size: 18px;
            padding-left: 265px;
            padding-right: 265px;
            padding-top: 20px;
            padding-bottom: 20px;
            .nav-link{
                padding-left: 5px !important;
                padding-right: 22px !important;
            }
            img{
                height: 3.5vw;
            }
        }
    }
    .parallax{
        background-image: url("../images/fondomakeit-corto.png");
        min-height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content{
        background-color: $background-white;
        .container{
            text-align: center;
            h1{
                padding-top: 40px;
                padding-bottom: 20px;
                font-weight: bolder;
                font-size: 50px;
            }
        }
        .cards{
            background-color: $primary-blue;
            .container{
                .row{
                    align-items: center;
                    .col{
                        .antsig{
                            display: none;
                            @media (min-width: 992px) {
                                display: inline;
                            }
                        }
                        padding-top: 50px;
                        padding-bottom: 50px;
                        padding-left: 25px;
                        padding-right: 25px;
                        .card{
                            .card-img-top{
                                height: 286px;
                            }
                            .card-body{
                                background-color: $background-white;
                            }
                            h5{
                                font-weight: bold;
                            }
                            p{
                                height: 192px;
                            }
                            .btn-primary{
                                background-color: $secondary-blue;
                                border-color: $border-blue;
                            }
                        }
                        .buttons{
                            height: 100px;
                        }
                    }
                }
            }
        }
    }
    .categories{
        height: 400px;
        width: 100%;
        text-align: center;
        h2{
            font-weight: bold;
            color: $primary-blue;
        }
        .btn-primary{
            background-color: $secondary-blue;
            border-color: $border-blue;
        }
        .makeit {
            /* The image used */
            background-image: url("../images/bannermakeit.jpg");
            
            /* Add the blur effect */
            filter: blur(2px);
            -webkit-filter: blur(2px);
            
            /* Full height */
            height: 400px; 
            
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .innovacion {
            /* The image used */
            background-image: url("https://picsum.photos/id/534/1902/400?blur=2");

            /* Full height */
            height: 400px; 
            
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .desarrollo {
            /* The image used */
            background-image: url("https://picsum.photos/id/36/1902/400?blur=2");
            
            /* Full height */
            height: 400px;
            
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          
          /* Position text in the middle of the page/image */
          
        .makeit-text{
            h2{
                color: $contrast-orange;
            }
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
            font-weight: bold;
            border: 3px solid #f1f1f1;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            width: 70%;
            padding: 20px;
            text-align: center;
            transform: translate(-50%, 1970%);
            @media (min-width: 992px) {
                transform: translate(-50%, 850%);
            }
    
        }
        .innova-text{
            h2{
                color: $contrast-orange;
            }
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
            color: white;
            font-weight: bold;
            border: 3px solid #f1f1f1;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            width: 70%;
            padding: 20px;
            text-align: center;
            transform: translate(-50%, 2245%);
            @media (min-width: 992px) {
                transform: translate(-50%, 1170%);
            }
        }
        .des-text{
            h2{
                color: $contrast-orange;
            }
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
            color: white;
            font-weight: bold;
            border: 3px solid #f1f1f1;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            width: 70%;
            padding: 20px;
            text-align: center;
            transform: translate(-50%, 2515%);
            @media (min-width: 992px) {
                transform: translate(-50%, 1490%);
            }
        }
        .separador{
            height: 8px;
            background-color: $primary-blue;
        }
    }
    .makeit{
        .fotoseccion{
            h1{
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
                color: $contrast-orange;
                font-weight: bold;
                border: 3px solid #f1f1f1;
                transform: translate(13%, 0%);
                z-index: 2;
                width: 71%;
                padding: 20px;
                text-align: center;
                @media (min-width: 992px) {
                    transform: translate(20%, 100%);
                }
            }
            background-image: url("../images/bannermakeit.jpg");
            background-repeat:no-repeat;
            background-position: right top;
            @media (min-width: 992px) {
                height: 400px;
                background-image: url("../images/makeit/3.jpg");
                min-height: 250px;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        .separador{
            color: $background-white;
            background-color: $primary-blue;
            font-size: larger;
            font-style: italic;
            padding-bottom: 20px;
            padding-top: 20px;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            @media (min-width: 992px) {
                padding-left: 250px;
                padding-right: 250px;
            }
        }
        .container{
            border-radius: 15px;
            p{
                color: $primary-blue;
            }
            .titulo{
                font-weight: 600;
            }
            .lineaseparadora{
                background-color: $contrast-orange;
                height: 2px;
                border-radius: 30px;
                margin-top: 25px;
                margin-bottom: 25px;
            }
            .row{
                .btn-primary{
                    background-color: $secondary-blue;
                    border-color: $border-blue;
                    @media (min-width: 992px) {
                        margin-left: 50px;
                        margin-top: 5px;
                    }
                    margin-left: 15px;
                }
            }
            .participantes{
                color: $background-white;
                background-color: $secondary-contrast-orange;
                text-align: center;
                p{
                    color: black;
                    margin-bottom: 0px;
                }
                h4{
                    font-weight: 700;
                }
                .nombre{
                    font-weight: 500;
                }
            }
        }
        .imagenes{
            text-align: center;
            img{
                height: 300px;
                border: solid 3px $border-blue;
                border-radius: 30px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
            @media (min-width: 992px) {
                text-align: center;
                img{
                    height: 340px;
                    border: solid 5px $border-blue;
                    border-radius: 30px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }
        }
        .texto{
            p{
                padding-left: 15px;
                padding-right: 15px;
                color: black !important;
            }
            h1{
                text-align: left;
                color: $primary-blue;
                padding-top: 0px;
                padding-bottom: 0px;
            }
            h2{
                color: $contrast-orange;
            }
            .numero{
                color: $contrast-orange !important;
                font-size: 30px;
            }
            .numerosp{
                color: $contrast-orange !important;
                font-size: 30px;
            }
            .textoarriba{
                padding-top: 45px;
            }
            @media (min-width: 992px) { 
                p{
                    padding-left: 50px;
                    padding-right: 40px;
                    font-size: larger;
                    color: black !important;
                }
                h1{
                    text-align: left;
                    color: $primary-blue;
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
                h2{
                    color: $contrast-orange;
                }
                .numero{
                    color: $contrast-orange !important;
                    font-size: 50px;
                    text-align: end;
                    padding-right: 20px;
                    border-radius: 3px;
                }
                .numerosp{
                    color: $contrast-orange !important;
                    font-size: 50px;
                    
                }
                .col-10{
                    padding-left: 30px;
                }
            }
        }
    }
    .proyectos{
        .fotoseccioninno{
            .bg-image {
                /* The image used */
                background-image: url("https://picsum.photos/id/534/950/400?blur=1");
                
                /* Add the blur effect */
                filter: blur(1px);
                -webkit-filter: blur(1px);
                
                /* Full height */
                height: 200px;
                @media (min-width: 992px) {
                    height: 400px;
                }
                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
              }
              /* Position text in the middle of the page/image */
            .bg-text {
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
                color: $contrast-orange;
                font-weight: bold;
                border: 3px solid #f1f1f1;
                padding: 20px;
                text-align: center;
                @media (min-width: 992px) {
                    width: 72%;
                    position: absolute;
                    top: 35%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2;
                }
            }
        }
        .portadaproyectos{
            height: 340px;
            width: 300px;
            object-fit: cover;
            @media (min-width: 992px) {
                width: 370px;
                
            }
        }
        .fotosecciondes{
            .bg-image {
                /* The image used */
                background-image: url("https://picsum.photos/id/36/950/400?blur=1");
                
                /* Add the blur effect */
                filter: blur(1px);
                -webkit-filter: blur(1px);
                
                /* Full height */
                height: 200px;
                @media (min-width: 992px) {
                    height: 400px;
                }
                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
              }
            /* Position text in the middle of the page/image */
            .bg-text {
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
                color: $contrast-orange;
                font-weight: bold;
                border: 3px solid #f1f1f1;
                padding: 20px;
                text-align: center;
                @media (min-width: 992px) {
                    width: 72%;
                    position: absolute;
                    top: 35%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2;
                }
            }
        }
        img{
            width: 370px;
        }
    }
    .moldeproyectos{
        text-align: center;
        .nombreproyecto{
            color: $primary-blue;
            margin-top: 20px;
            margin-bottom: 20px;
            @media (min-width: 992px) {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
        img{
            height: 300px;
            border: solid 3px $border-blue;
            border-radius: 30px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        @media (min-width: 992px) {
            text-align: center;
            img{
                height: 350px;
                width: 385px;
                border: solid 5px $border-blue;
                border-radius: 30px;
            }
        }
        .row{
            h2{
                font-size: 40px;
                font-weight: 700;
            }
            h4{
                color: $contrast-orange;
            }
            h5{
                text-align: start;
                font-size: 18px;
            }
            ol{
                text-align: start;
                li{
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
            p{
                text-align: start;
                .fase{
                    font-weight: bold;
                }
            }
            .under{
                text-align: center;
                border-radius: 10px;
            }
            .final{
                width: 320px;
                @media (min-width: 992px) {
                    height: 250px;
                    width: 250px;
                }
            }
        }
        .participantes{
            color: $background-white;
            background-color: $secondary-contrast-orange;
            text-align: center;
            border-radius: 15px;
            p{
                color: black;
                margin-bottom: 0px;
            }
            h4{
                font-weight: 700;
            }
            .nombre{
                font-weight: 500;
            }
        }
    }
    .footer{
        text-align: center;
        background: $primary-blue;
        color:$background-white;
        padding-top: 60px;

        h2{
            font-weight: bold;
        }
        .links{
            h4{
                font-weight: bold;
            }
            ul {list-style-type: none;}
            li a{
            color: $background-white;
            transition: color .2s;
            &:hover{
              text-decoration:none;
              color:$secondary-blue;
            }
          }
          .logosredes{
            height: 50px;
            padding-right: 10px;
            padding-top: 10px;
            }
        }  
        .logos{
            img{
                height: 60px;
                margin-bottom: 50px;
            }
            @media (min-width: 992px) { 
                img{
                    height: 3.5vw;
                }
            }
        }
        .about-company{
          i{font-size: 25px;}
          a{
            color:$background-white;
            transition: color .2s;
            &:hover{color:$secondary-blue}
          }
        } 
        .location{
          i{font-size: 18px;}
        }
        .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
    }
}